@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-elite-black text-white overflow-x-hidden;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#050505];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-elite-gold rounded;
  }
}

@layer utilities {
  /* Animação para textos em degradê */
  .animate-shimmer {
    background-size: 200% auto;
    animation: shimmer 5s linear infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }

  /* Custom Input styling for Dark Mode Calendar */
  input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
      cursor: pointer;
  }
}
