@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-elite-black text-white overflow-x-hidden;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#050505];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-elite-gold rounded;
  }
}

@layer utilities {
  /* Animação Premium para textos em degradê */
  .animate-shimmer {
    background-size: 300% 300%;
    animation: liquidGradient 6s ease-in-out infinite alternate;
  }
  
  @keyframes liquidGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Custom Input styling for Dark Mode Calendar */
  input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
      cursor: pointer;
  }
}
